[submodule "vendors/awesome-cosmo"]
	path = vendors/awesome-cosmo
	url = https://github.com/ludoplex/awesome-cosmo.git
[submodule "vendors/bsd"]
	path = vendors/bsd
	url = https://github.com/ludoplex/bsd.git
[submodule "vendors/cosmo-bsd"]
	path = vendors/cosmo-bsd
	url = https://github.com/ludoplex/cosmo-bsd.git
[submodule "vendors/cosmo-cross-sdk"]
	path = vendors/cosmo-cross-sdk
	url = https://github.com/ludoplex/cosmo-cross-sdk.git
[submodule "vendors/cosmo-disasm"]
	path = vendors/cosmo-disasm
	url = https://github.com/ludoplex/cosmo-disasm.git
[submodule "vendors/cosmo-gcc-plugin"]
	path = vendors/cosmo-gcc-plugin
	url = https://github.com/ludoplex/cosmo-gcc-plugin.git
[submodule "vendors/cosmo-include"]
	path = vendors/cosmo-include
	url = https://github.com/ludoplex/cosmo-include.git
[submodule "vendors/cosmo-sokol"]
	path = vendors/cosmo-sokol
	url = https://github.com/ludoplex/cosmo-sokol.git
[submodule "vendors/cosmogfx"]
	path = vendors/cosmogfx
	url = https://github.com/ludoplex/cosmogfx.git
[submodule "vendors/e9studio"]
	path = vendors/e9studio
	url = https://github.com/ludoplex/e9studio.git
[submodule "vendors/ludoplex-binaryen"]
	path = vendors/ludoplex-binaryen
	url = https://github.com/ludoplex/binaryen.git
[submodule "vendors/ludoplex-cosmo-bsd"]
	path = vendors/ludoplex-cosmo-bsd
	url = https://github.com/ludoplex/cosmo-bsd.git
[submodule "vendors/tedit-cosmo"]
	path = vendors/tedit-cosmo
	url = https://github.com/ludoplex/tedit-cosmo.git
